#quadro {
  min-width: 300px;
  max-width: 400px;
}
#tabuleiro {
  border: 1px solid gainsboro;
  margin: 0;
  border-collapse: collapse;
}
#tabuleiro td {
  width: 50px;
  height: 50px;
  font: 15px "arial black";
  text-align: right;
  vertical-align: bottom;
  color: #333;
}
.c0 {
  background-color: #D3D3D3;
}
.c1 {
  background-color: #FFFFFF;
}
.rainha {
  background-image: url(../images/rainha.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.conflito {
  background-color: #d00;
}
.hide {
  display: none;
}